# Project place file
/ObbyBots.rbxlx
*.rbxl

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Claude Code custom commands
/.claude/
/Claude/
CLAUDE.md

# Misc.
sourcemap.json
rokit.toml
.DS_Store